<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are the recipes you saved:</h2>
    <ul>
      <% availableRecipe.forEach(function(recipe) { %>
        <li><%= recipe.title %>, <%=recipe.ingrediants%>, <%=recipe.instructions%> </li>
      <% }) %>
    </ul>
    </body>
</html>